@use '../global/global-rules' as *;
.footer{
    background-color: #c2bed6;
}
.footer .row  h3{
    text-transform:capitalize;
    border:0;
    border-bottom: 2px solid black;
    display: inline-block;
    font-weight:700;
}
.footer .row .menu ul{
    list-style:none;
    padding:0;
}
.footer .row .menu ul li {
    a{
        text-decoration:none;
        color:#0000007b;
        font-size: 17px;
        text-transform:capitalize;
    }
    &:hover{
        transition:.5s;
        transform: translateX(15px);
    }
    &:hover a{
        transition:.3s;
        color:orangered;
    }
}
.footer .row .location .box{
    text-align: left;
    width:90%;
    margin:0 auto;
    transform:translatex(10%);
    svg{
        width:10%;
        color: #0000007b;
    }
    span{
        width:50%;
        color:#0000007b;
    }
} 
.footer .row .social-link{
    a{
        text-decoration:none;
        display: block;
        svg{
            color:#0000007b;
            &:hover{
                color:orangered;
                transform: rotate(360deg);
                transition: .5s;
                    }
            }
    }
}
.footer  .copy-right{
    background-color: #000;
    p{
        color:#fff;
        font-size:16px;
        margin:0;
    }
    span{
    color:$main-color;
    font-size:25px;
    font-weight:800;
    }
} 