@use '../global/global-rules' as *;
// services 
.services{
    background-color:$back-color;
    width:100%;
}
.services .heading svg{
    color:$main-color;
}
.services .heaiding h3{
    position:relative;
}
.services .heading h3::after{
    content:'';
    position:absolute;
    width:150px;
    height:2px;
    background-color:$main-color;
    margin-top:60px;
    left: 50%;
    transform: translate(-50%);
}
.services .row .own-card:hover{
    box-shadow:10px 10px 10px $main-color;
    background-color:#fff;
}
.services .row .own-card:hover .text h3{
    animation: color-card .3s linear infinite alternate;
}
.services .row .text{
    h3{
    font-weight:800;
    color:$main-color;
    } 
} 
.services .row button{
    border:none;
    background-color:$main-color;
    color:#fff;
    text-transform:capitalize;
    font-weight:bold;
    padding: 7px 20px;
    margin-top:15px;
    cursor:pointer;
}
@keyframes color-card{
    from{
        color:$main-color;
    }
    to{
        color:black
    }
}